/* MAIN CARRO */
.container_carro{
    display: flex;
    justify-content: right;
    position: absolute;
    z-index: 2;
    right: 0;
    margin-top: -50px;
}
.carro{
    background-color: transparent;
    color: beige;
    border: none;
    padding:15px;
    border-radius: 10px;
    cursor: pointer;
}
.bubble{
    position: relative;
    left: 30px;
    top: 30px;
}

/* LISTA CARRO */

.detalles{
    background-color: #14283f;
    position: absolute;
    margin-top: 40px;
    box-shadow: 1px 5px 5px rgb(0,0,0,0.3);
    border-radius: 8px;
    width: 500px;
    right: 30px;
    height: auto;
}
.detalles ul{
    margin:0px;
    padding:0px;
    list-style: none;
}
.detalles ul li{
    margin: 10px;
    font-size: 20px;
}
.cantidad-prod{
    font-size: 20px;
    margin-left: 10px;
}
.producto{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    border-bottom: solid 1px #aaa;
}
.img-lista{
    width: 150px;
    height: 100px;
}
.button-delete{
    height: 30px;
    background-color: rgb(148, 19, 19);
    color: beige;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px black;
}
.button-delete:hover{
    background-color: rgb(105, 14, 14);
}

/* BUBBLE ALERT */

.bubbleAlert{
    border-radius: 15px;
    color:white;
    padding: 2px 10px;
    font-size: 1.5rem;
    width: 20px;
}

@media only screen and (min-width: 575px){
    .container_carro{
        margin-right: 20px;
        margin-top: 3px;
    }
    .bubble{
        left: 28px;
        top: 35px;
    }
    .icon-shop{
        font-size: 35px;
    }
}