body{
  background-color: #112236;
  color: rgb(177, 177, 177);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 5;
}
